[Unit]
Description=Run AI Incident Copilot every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=incopilot.service

[Install]
WantedBy=timers.target
